<% title "Users" %>

<div class="actions">
  <%= link_to(new_user_path) do %>
    <%= content_tag :span, "Add User", :class => "new_item" %>
  <% end%>
</div>
<div class="digg_pagination"><%= will_paginate @users %></div>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Company</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to user.username, edit_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.company.name %></td>
      <td><%= link_to "Remove", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br />
<div class="digg_pagination"><%= will_paginate @users %></div>