<% title "Tickets" %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Status</th>
  </tr>
  <% for ticket in @tickets %>
    <tr>
      <td><%= ticket.title %></td>
      <td><%= ticket.content %></td>
      <td><%= ticket.user_id.username %></td>
      <td><%= ticket.status %></td>
      <td><%= link_to "Edit", edit_ticket_path(ticket) %></td>
      <td><%= link_to "Remove", ticket, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ticket", new_ticket_path %></p>
