<div class="actions">
  <%= link_to('/company') do %>
    <%= content_tag :span, "Back to Dashboard", :class => "plain" %>
  <% end%>
</div>
<%= semantic_form_for( @company, :html => { :class => "normal_form" } ) do |f| %>
  <%= f.inputs %>
  
  <%= image_submit_tag 'submit.png', :class => 'signup' %>
<% end %>
