<% title "Companies" %>

<h1>Companies</h1>

<div class="actions dashboard_button">
  <%= link_to(new_company_path) do %>
    <%= content_tag :span, "Add Company", :class => "new_item" %>
  <% end%>
</div>

<div class="info">
  <div>
   <%= paginate @companies %>
   <%= form_tag('/company', :method => 'get') -%>
     <%= text_field_tag 'page', 1, :class => 'page' %>
     <%= submit_tag 'Go' %>
  </div>

  <table>
    <tr>
      <th>Company</th>
    </tr>
    <% for company in @companies %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to company.name, edit_company_path(company) %></td>
        <td><%= company.notes %></td>
        <td><%= link_to image_tag("/images/delete.png"), company, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <div><%= paginate @companies %></div>
</div>