<% title "Asset" %>

<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>
<p>
  <strong>Os:</strong>
  <%= @asset.os %>
</p>
<p>
  <strong>Location:</strong>
  <%= @asset.location %>
</p>
<p>
  <strong>Classification:</strong>
  <%= @asset.classification_id %>
</p>
<p>
  <strong>Peripherals:</strong>
  <%= @asset.peripherals %>
</p>
<p>
  <strong>Anti Virus:</strong>
  <%= @asset.anti_virus %>
</p>
<p>
  <strong>Software:</strong>
  <%= @asset.software %>
</p>
<p>
  <strong>Firmware:</strong>
  <%= @asset.firmware %>
</p>
<p>
  <strong>Serial Number:</strong>
  <%= @asset.serial_number %>
</p>
<p>
  <strong>Part Number:</strong>
  <%= @asset.part_number %>
</p>
<p>
  <strong>Service Tag:</strong>
  <%= @asset.service_tag %>
</p>
<p>
  <strong>Warranty:</strong>
  <%= @asset.warranty %>
</p>
<p>
  <strong>Ip:</strong>
  <%= @asset.ip %>
</p>
<p>
  <strong>User Name:</strong>
  <%= @asset.user_name %>
</p>
<p>
  <strong>User Password:</strong>
  <%= @asset.user_password %>
</p>

<p>
  <%= link_to "Edit", edit_asset_path(@asset) %> |
  <%= link_to "Destroy", @asset, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", assets_path %>
</p>
