<!DOCTYPE html>
<html>
  <head>
    <title><%= "Tickets, Tickets - " + yield(:title) %></title>
    <%= stylesheet_link_tag 'reset', 'application', 'flash' %>
    <%= javascript_include_tag 'jquery', 'rails', 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render '/layouts/header' %>
    
    <div class='flash_box'>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "hideable" %>
      <% end %>
    </div>
    
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
